@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins extra italic bold";
  src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: "Poppins extra bold";
  src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "Poppins bold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins italic";
  src: url(./assets/fonts/Poppins-Italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsla(0, 0%, 86%, 0.6);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}

body {
  height: 100vh;
  font-family: Poppins;
  background-color: var(--Off-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--White);
  padding: 20px;
  border-radius: 15px 15px 80px 15px;
  width: 30%;
  min-height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Input Day Month Year */

.container .input {
  display: flex;
  gap: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--Light-grey);
}

.container .input .date label {
  font-size: 10px;
  font-family: "Poppins bold";
  text-transform: uppercase;
  color: var(--Smokey-grey);
  letter-spacing: 2px;
  margin-bottom: 4px;
}

.container .input .date p {
  font-size: 8px;
  position: absolute;
  top: calc(22.5% + 20px + 25px + 40px);
  font-family: "Poppins italic";
  color: var(--Light-red);
  display: none;
}

.container .input .date {
  display: flex;
  flex-direction: column;
}

.container .input input {
  -webkit-appearance: none;
  width: 80px;
  height: 40px;
  border: 1px solid var(--Light-grey);
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  color: var(--Off-black);
  font-family: "Poppins extra bold";
  display: flex;
  align-items: center;
}

.container .input input::placeholder {
  color: var(--Smokey-grey);
  opacity: 0.8;
}

.container .input .date input:focus {
  outline: 1px solid hsla(0, 1%, 44%, 0.5);
}

/* Icon/Button */

.container .image {
  width: 50px;
  height: 50px;
  background-color: var(--Purple);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(65% - 70px);
  top: calc(22.5% + 45px + 40px + 20px - 25px);
}

.container .image img {
  width: 25px;
  height: 25px;
}

.container .image:hover {
  background-color: var(--Off-black);
  cursor: pointer;
}

/* Current Age */

.container .output {
  font-size: 55px;
  font-family: "Poppins extra italic bold";
  line-height: 60px;
}

.container .output span {
  color: var(--Purple);
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 550px) {
  .container {
    width: 350px;
    min-height: 400px;
    /* width: fit-content; */
  }

  .container .input {
    padding-bottom: 50px;
  }

  .container .image {
    left: calc(50% - 40px);
    top: 39.5%;
  }
}