@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins extra italic bold";
  src: url(./assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: "Poppins extra bold";
  src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: "Poppins bold";
  src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins italic";
  src: url(./assets/fonts/Poppins-Italic.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Light-grey: hsla(0, 0%, 86%, 0.6);
  --Light-red: hsl(0, 100%, 67%);
  --Off-black: hsl(0, 0%, 8%);
  --Off-white: hsl(0, 0%, 94%);
  --Purple: hsl(259, 100%, 65%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --White: hsl(0, 0%, 100%);
}

body {
  align-items: center;
  background-color: var(--Off-white);
  display: flex;
  font-family: Poppins;
  height: 100vh;
  justify-content: center;
}

.container {
  background-color: var(--White);
  border-radius: 30px 30px 200px 30px;
  display: flex;
  flex-direction: column;
  height: 67.5%;
  justify-content: space-between;
  padding: 50px;
  position: relative;
  width: 58%;
}

/* Input Day Month Year */

.container .input {
  border-bottom: 1px solid var(--Light-grey);
  display: flex;
  gap: 20px;
  height: 27%;
  padding-bottom: 25px;
}

.container .input .date label {
  color: var(--Smokey-grey);
  font-family: "Poppins bold";
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.container .input .date p {
  color: var(--Light-red);
  display: none;
  font-family: "Poppins italic";
  font-size: 8px;
  position: absolute;
  top: 26%;
}

.container .input .date {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 0 40px;
  width: 22%;
}

.container .input input {
  -webkit-appearance: none;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Light-grey);
  color: var(--Off-black);
  display: flex;
  font-family: "Poppins extra bold";
  font-size: 36px;
  font-weight: bold;
  height: 100%;
  padding: 20% 15%;
  width: 100%;
}

.container .input input::placeholder {
  color: var(--Smokey-grey);
  opacity: 0.8;
}

.container .input .date input:focus {
  outline: 1px solid hsla(0, 1%, 44%, 0.5);
}

/* Icon/Button */

.container .image {
  align-items: center;
  background-color: var(--Purple);
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  padding: 20px;
  position: absolute;
  right: 5%;
  top: 23%;
  width: 100px;
}

.container .image img {
  height: 100%;
  width: 100%;
}

.container .image:hover {
  background-color: var(--Off-black);
  cursor: pointer;
}

/* Current Age */

.container .output {
  font-family: "Poppins extra italic bold";
  font-size: 100px;
  line-height: 116px;
}

.container .output span {
  color: var(--Purple);
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-height: 1000px) {

  .container {
    height: fit-content;
    padding: 40px;
    width: 600px;
  }

  .container .input {
    margin-bottom: 50px;
    padding-bottom: 40px;
  }

  .container .input input {
    font-size: 26px;
    padding: 10px;
  }

  .container .input .date {
    height: 80%;
    padding: 0;
    width: 24%;
  }

  .container .output {
    font-size: 70px;
    line-height: 90px;
    margin-top: -20px;
  }

  .container .image {
    height: 60px;
    right: 6%;
    top: 27%;
    width: 60px;
  }
}

@media (max-width: 1200px) {
  .container .input input {
    font-size: 26px;
  }

  .container .output {
    font-size: 80px;
  }

  .container .image {
    height: 80px;
    top: 24%;
    width: 80px;
  }
}

@media (max-width: 1000px) {
  .container .input input {
    font-size: 22px;
  }

  .container .output {
    font-size: 70px;
  }
}

@media (max-width: 900px) {
  .container .input input {
    font-size: 22px;
  }

  .container .output {
    font-size: 60px;
  }
}

@media (max-width: 800px) {
  .container {
    height: fit-content;
    margin: 0 20px;
    min-height: 400px;
    padding: 20px;
    width: 100%;
  }

  .container .output {
    font-size: 60px;
    height: fit-content;
    justify-self: center;
    line-height: 70px;
    margin-bottom: 20px;
    margin-top: 60px;
  }

  .container .input {
    padding-bottom: 20px;
  }

  .container .image {
    padding: 25px;
    right: calc(50% - 40px);
    top: calc(60% - 140px);
  }

  .container .input .date {
    width: 100%;
  }
}

@media (max-width: 800px) and (max-height: 1000px) {
  .container .image {
    top: 25%;
  }

  .container .output {
    margin-top: 0;
  }

  .container .input {
    padding-bottom: 50px;
  }
}

@media (max-width: 450px) {
  .container .output {
    font-size: 50px;
  }

  .container .image {
    top: calc(58% - 140px);
  }
}

@media (max-width: 370px) {
  .container .output {
    font-size: 40px;
  }
}